.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

img {
  width: 350px;
  height: 240px;
  object-position: center;
  border-radius: 10px;
}